.Expense-table-container {
    @apply
    w-full
    h-[83%]
    flex
    my-6
    border
    border-light_blue-1
    rounded-xl
    shadow-sm
    overflow-y-scroll
}

.Expense-table {
    @apply
    w-full
    h-full
    table-fixed
    border-collapse
    bg-white-1
    rounded-xl
}

.Table-header {
    @apply
    bg-gray-1
    text-white-1
    h-12
    text-left
}

.Expense-row {
    @apply
    py-[10px]
    border-b
    border-light_blue-1
    text-gray-1
    hover:bg-light_blue-4
}

.Expense-row.number {
    @apply
    pl-6
}

.Expense-row.placeholder {
    @apply
    text-gray-500
    hover:bg-white-1
    border-0
    h-full
    text-center
    align-middle
}

.Spacer-row {
    @apply
    h-full
}

.Table-footer {
    @apply
    bg-white-1
    font-bold
    border-t border-light_blue-1 
    text-blue-1 
    text-lg
}

.Total-text {
    @apply
    p-3
    text-right
}

.Total-value {
    @apply
    p-3
    text-left
    border-l
    border-light_blue-1
}

th:first-of-type {
    @apply
    w-[7%]
}

th:nth-of-type(2) {
    @apply
    w-[50%]
}